<h1>Editing game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <% if @game.player1 == current_player %>
    <p>
      Player 1: <%= @game.player1.username %><br />
      <%= f.label :choice1 %> <%= f.collection_select :choice1_id, Choice.all, :id, :name %>
    </p>
  <% end %>

  <% if @game.player2 == current_player %>
    <p>
      Player 2: <%= @game.player2.username %><br />
      <%= f.label :choice2 %> <%= f.collection_select :choice2_id, Choice.all, :id, :name %>
    </p>
  <% end %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
