<h1>Listing Games</h1>

<table>
  <tr>
    <th>Played On</th>
    <th>Player1 - Choice</th>
    <th>Player2 - Choice</th>
    <th>Winner</th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.updated_at.strftime("%H:%M - %b %d, %Y") %></td>
    <td><%=h game.player1.username %> - <%=h game.choice1.name %></td>
    <td><%=h game.player2.username %> - <%=h game.choice2.name %></td>
    <td><%=h game.tied? ? 'Tied!' : game.winner.username %></td>
  </tr>
<% end %>
</table>
