<h1>New game</h1>

<% form_for(@game) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :player1 %><br />
    <%= f.text_field :player1 %>
  </p>
  <p>
    <%= f.label :player2 %><br />
    <%= f.text_field :player2 %>
  </p>
  <p>
    <%= f.label :choice1 %><br />
    <%= f.text_field :choice1 %>
  </p>
  <p>
    <%= f.label :choice2 %><br />
    <%= f.text_field :choice2 %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', games_path %>